

h2 {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    color: #fff;
    width: 70%;
    height: 23%;
    border: 2px solid #fff;
    padding: 30px;
  }
  h2:hover{
    opacity: 1;
  }
  .card {
    display: flex;
    position: relative;
    flex-direction: column;
  }
  .card img {
    display: block;
    opacity: 1;
    width: 400px;
    height: 236px;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  .card img:hover{
    opacity: 0.6;
    
  }
  .card .image-details {
    display: flex;
    margin-top: 10px;
    gap: 260px;
  }
  .date-span {
    color: #6c757d;
  }
  .views-span {
    color: #343a40;
  }
  